doctype html
html
    head
        style
            include main.css
    body
        div
            | Hello dear user
            br
            | Welcome to our site
        block content
        div.footer
            | Footer
            br
            a(href=googleUrl) Go to google
